
# Google Gemini API Key
API_KEY=your_gemini_api_key

# Firebase Real-time Stats Config
VITE_FIREBASE_API_KEY=your_fb_key
VITE_FIREBASE_AUTH_DOMAIN=your_fb_domain
VITE_FIREBASE_PROJECT_ID=your_fb_project_id
VITE_FIREBASE_STORAGE_BUCKET=your_fb_bucket
VITE_FIREBASE_MESSAGING_SENDER_ID=your_fb_sender_id
VITE_FIREBASE_APP_ID=your_fb_app_id
